@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
  --font-jakarta: Poppins, ui-sans-serif, system-ui, sans-serif;
}